*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.music-player{
    border-radius: 0.5rem;
    background: wheat;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
nav .drive{
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgb(196, 129, 196);
    color: rgb(16, 17, 16);
    box-shadow: rgba(32, 43, 39, 0.21);

}
.drive img{
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
}
.song-img{
    width: 100px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 10px 60px rgba(233,26,26, 0.22);
}
.music-player h2{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-top: 20px;
}
.music-player p {
    font-size: 14px;
    color:#333;
}
#progress{
    appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px 0;
}
#progress::-webkit-slider-thumb{
    appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(233,26,26, 0.22);
}
.controls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    justify-content: center;
    background: #fff;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(233,26,26, 0.22);
    cursor: pointer;
}
.controls div:nth-child(2){
    transform:scale(1.5);
    background: #f53192;
    color: #fff;
}


